
<div class="container">
  <div class="row">
    <div class="col-8 center-block">
      <div class="container">
        <div class="column">
          <div class="card" style="width: 100%;">
            <% if @foodtruck.photo.present? %>
              <%= cl_image_tag @foodtruck.photo, crop: :fill, class: "card-img-top" %>
            <% else %>
              <%= cl_image_tag "generic_l79l58",crop: :fill, class: "card-img-top" %>
            <% end %>
              <p class="card-text p-3"><%= @foodtruck.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <div class="column center-block">
          <div class="col-sm ">
            <div class="label">name :</div> <div class="text-box "><%= @foodtruck.name %></div>
          </div>
          <div class="col-sm ">
            <div class="label">city :</div> <div class="text-box"><%= @foodtruck.city %></div>
          </div>
          <div class="col-sm ">
            <div class="label">category :</div> <div class="text-box"><%= @foodtruck.category %></div>
          </div>
          <div class="col-sm ">
            <div class="label">price :</div>  <div class="text-box"> <%= "#{humanized_money(@foodtruck.price_cents)} #{@foodtruck.price_currency}" %></div>
          </div>
          <div class="col-sm">
            <%= link_to "back", :back, class: 'btn btn-primary' %>
            <% if policy(@foodtruck).edit? %>
              <%= link_to "edit", edit_food_truck_path(@foodtruck), class: 'btn btn-primary ml-3' %>
            <% end %>
          </div>
          <div class="col-sm">
            <%= simple_form_for [@foodtruck, @reservation] do |f| %>
            <%= f.input :checkin_date, order: [:day, :month, :year], :default => Date.today %>
            <%= f.input :checkout_date, order: [:day, :month, :year], :default => Date.today + 1 %>
            <%= f.button :submit, class: "btn btn-primary" %>
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
