
<div class="container">
  <div class="row">
    <div class="col-8 center-block">
      <div class="container">
        <div class="column">
          <div class="card" style="width: 100%;">
            <% if @foodtruck.photo.present? %>
              <% url = cl_image_path cocktail.photo, height: 300, width: 300, crop: :fill, class: "card-img-top" %>
            <% else %>
              <% url = cl_image_path “generic_l79l58”, height: 300, width: 300, crop: :fill, class: "card-img-top" %>
            <% end %>
          <!--   <img src="https://source.unsplash.com/random/400x300" class="card-img-top" alt="...">
            <div class="card-body"> -->
              <p class="card-text"><%= @foodtruck.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <div class="column center-block">
          <div class="col-sm ">
            <div class="label">name :</div> <div class="text-box "><%= @foodtruck.name %></div>
          </div>
          <div class="col-sm ">
            <div class="label">city :</div> <div class="text-box"><%= @foodtruck.city %></div>
          </div>
          <div class="col-sm ">
            <div class="label">category :</div> <div class="text-box"><%= @foodtruck.category %></div>
          </div>
          <div class="col-sm ">
            <div class="label">price :</div>  <div class="text-box"> <%= @foodtruck.price %></div>
          </div>
          <div class="col-sm"><%= link_to "back", root_path, class: 'btn btn-primary' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
