<div class="container">
  <%= simple_form_for @foodtruck do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: FoodTruck::CATEGORIES %>
    <%= f.input :price_cents, label: 'Price (CHF per day)' %>
    <%= f.input :city %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
