<script src="https://js.stripe.com/v3/"></script>
<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1533229613598-751dc97ec35f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
  <h1>Your bookings</h1>
</div>

<h2 class="mt-3 row justify-content-center">So far you have booked</h2>

<% @userreservations.each do |reservation| %>

  <div class="index container mt-3">
    <div class="cards">
      <div class="row">

        <% if reservation.food_truck.photo.present? %>
          <% url = cl_image_path reservation.food_truck.photo, height: 300, width: 300, crop: :fill %>
        <% else %>
          <% url = cl_image_path "generic_l79l58", height: 300, width: 300, crop: :fill %>
        <% end %>

        <div class="col-4">
          <div class="card-category my-2 d-flex flex-column bd-highlight mb-3", id="reservation-card", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url %>')">

            <div class="reservation_cards p-2 bd-highlight"><%= reservation.food_truck.name %></div>
            <div class="reservation_cards p-2 bd-highlight"><%= "checkin date : #{reservation.checkin_date}" %></div>
            <div class="reservation_cards p-2 bd-highlight"><%=  "checkout date : #{reservation.checkout_date}"  %></div>

            <% if reservation.accepted_at == nil%>
              <div class="reservation_cards_nay p-2 bd-highlight"><%="Not accepted yet"%></div>
            <% elsif reservation.accepted_at != nil && reservation.paid_at == nil%>
              <button type="button" class="btn btn-primary" onclick="Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>').redirectToCheckout({sessionId: '<%= reservation.checkout_session_id %>'})">I pay now</button>
            <% else %>
              <div class="reservation_cards_p p-2 bd-highlight"><%="Paid on #{reservation.paid_at}" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>


<% if @ownerreservations.count >0 %>
  <h2 class="mt-3 row justify-content-center">Your Food Truck(s) bookings</h2>

  <% @ownerreservations.each do |reservation| %>
    <%if reservation.food_truck.user_id == current_user.id %>


      <div class="index container mt-3">
        <div class="cards">
          <div class="row">

            <% if reservation.food_truck.photo.present? %>
              <% url = cl_image_path reservation.food_truck.photo, height: 300, width: 300, crop: :fill %>
            <% else %>
              <% url = cl_image_path "generic_l79l58", height: 300, width: 300, crop: :fill %>
            <% end %>


            <div class="col-4">
              <div class="card-category my-2 d-flex flex-column bd-highlight mb-3", id="reservation-card", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url %>')">
                <div class="reservation_cards p-2 bd-highlight"><%= reservation.user.email%></div>
                <div class="reservation_cards p-2 bd-highlight"><%= reservation.food_truck.name %></div>
                <div class="reservation_cards p-2 bd-highlight"><%= "checkin date : #{reservation.checkin_date}" %></div>
                <div class="reservation_cards p-2 bd-highlight"><%=  "checkout date : #{reservation.checkout_date}"  %></div>

                <% if reservation.accepted_at == nil%>
                  <%= link_to "Accept the booking", reservation_path(reservation.id), method: :patch, class: "btn btn-success"%>
                <% elsif reservation.accepted_at != nil && reservation.paid_at == nil%>
                  <div class="reservation_cards_npy p-2 bd-highlight"><%="Not paid yet"%></div>
                <% else %>
                  <div class="reservation_cards_p p-2 bd-highlight"><%="Paid by #{reservation.user.name} on #{reservation.paid_at}" %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end %>
  <% end %>
<%end %>
