<div class="container mb-3" style="width: 600px">
  <div class="text-box" style="width: 600px">

    <% if resource.name.present? %>
      <h2>Edit Your Profile</h2>
    <% else %>
      <h2>Complete Your Profile</h2>
    <% end %>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :name %>
        <%= f.input :description %>
        <div class='d-flex align-items-center justify-content-between my-2'>
          <%= f.label :avatar, label: 'Your avatar:' %>
          <%= f.file_field :source, class: "btn btn-outline-secondary" %>
        </div>
        <div class="d-flex align-items-center justify-content-between my-2">
          <%= f.input :food_truck_owner %>
          <% if resource.food_truck_owner && FoodTruck.where(user: resource).count > 0 %>
            <%= link_to "Add a new food truck", new_food_truck_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <div class="form-actions d-flex justify-content-between">
        <%= link_to "Back", :back, class: "btn btn-primary" %>
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-danger' %>
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
